.elementor-divider.section-divider {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: #f6fafc;
}

.elementor-divider-separator.section-divider-separator {
  width: 100%;
  max-width: 1400px;
  border-top: 2px solid #000;
  display: block;
  background: none !important;
  height: 0;
}

@media (max-width: 768px) {
  .elementor-divider.section-divider {
    padding: 20px 0;
  }
}

