.elementor-element-59455bf {
  width: 100%;
  min-height: 400px;
  background-image: url('https://qckinetix.com/wp-content/uploads/2025/04/pexels-ron-lach-7900667-scaled.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

.elementor-element-f89ed9d {
  width: 100%;
  min-height: 400px;
}

@media (max-width: 1024px) {
  .elementor-element-59455bf {
    min-height: 350px;
    background-attachment: scroll;
  }
  
  .elementor-element-f89ed9d {
    min-height: 350px;
  }
}

@media (max-width: 768px) {
  .elementor-element-59455bf {
    min-height: 300px;
    background-attachment: scroll;
  }
  
  .elementor-element-f89ed9d {
    min-height: 300px;
  }
}

@media (max-width: 640px) {
  .elementor-element-59455bf {
    min-height: 250px;
  }
  
  .elementor-element-f89ed9d {
    min-height: 250px;
  }
}

@media (max-width: 480px) {
  .elementor-element-59455bf {
    min-height: 200px;
  }
  
  .elementor-element-f89ed9d {
    min-height: 200px;
  }
}

@media (max-width: 360px) {
  .elementor-element-59455bf {
    min-height: 180px;
  }
  
  .elementor-element-f89ed9d {
    min-height: 180px;
  }
}

