.qc-difference-section {
  padding: 100px 20px;
  position: relative;
  background-color: #fff;
}

.qc-difference-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://qckinetix.com/wp-content/uploads/2025/03/Mask-Group-41aa.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 1;
}

.qc-difference-section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.qc-difference-container {
  position: relative;
  z-index: 2;
  max-width: 1200px;
  margin: 0 auto;
}

.qc-difference-title {
  font-size: 62px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
  padding-top: 150px;
}

.differences-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 60px;
}

.difference-card {
  text-align: left;
  background-color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  min-width: 0;
  width: 100%;
  position: relative;
}

.difference-card::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: linear-gradient(to right, transparent 0%, var(--e-global-color-accent) 20%, var(--e-global-color-accent) 80%, transparent 100%);
  border-radius: 0 0 5px 5px;
}

.difference-icon-box {
  margin-bottom: 10px;
}

.difference-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.difference-title {
  font-size: 16px;
  font-weight: 700;
  color: #000;
  margin: 0 0 3px 0;
  text-align: left;
  
}

.difference-title span {
  display: block;
}

.difference-subtitle {
  font-size: 24px;
  color: #666;
  margin: 0;
  font-weight: 700;
  text-align: left;
}

.difference-description {
  margin-top: 10px;
}

.divider-img {
  margin-bottom: 8px;
}

.difference-description p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin: 0;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
}

.qc-difference-button {
  text-align: center;
  
}

@media (max-width: 768px) {
  .qc-difference-title {
    font-size: 32px;
  }
  
  .differences-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

